.img{
    position: relative;

    &::before{
        position: absolute;
        content:"";
        width: 40px;
        height: 40px;
        background-image: url("../../assets/images/barber-pole.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        top:67%;
        left:56%;
        z-index: 3;

        @media (max-width: 768px) {
            width: 20px;
            height: 20px;
          }
    }
}