.heroImage{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    flex: 1;
    overflow: hidden;


  @media (min-width: 768px) {
    height: 100%; // Match full height for larger screens
  }
}

.heroSection {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-height: 800px;
    padding: 1rem;
  }
  
  // Adjustments for landscape mode on small devices
  @media (max-aspect-ratio: 3/2) {
    .heroSection {
      min-height: calc(100vh - 50px);
    }
  }