// _globals.scss
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-bg; // Dark brownish
    color: $body-color; // Light text
  }