// _variables.scss

//OLD COLORS
/* $primary: #D8933D; // Primary color override for Bootstrap
$secondary: #383838; // Secondary color override for Bootstrap
$accent-color: #FFC107; // Additional color for accents */

// NEW COLORS
$primary: #d45004;
$secondary: #2F2519;
$dark: #1a1a1a;
$background-color: #2E2E2E;
$light: #F2EEEA;

// Font Family
$heading-font: 'Bebas Neue', 'sans-serif';
$body-font: 'Montserrat', 'sans-serif';

// Global Spacing
$global-padding: 16px;
$global-margin: 16px;

//Typography
$font-size-base: 1rem; //typically `16px`
$font-size-sm: $font-size-base * .875;

//Bootstrap Overrides
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$body-bg: $dark;
$body-color: $light;

$list-group-border-color: $light;
$list-group-border-width: 2px;