@use '../../styles/variables';

.container {
    margin: 0;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #201f1f;
    color: white;
    padding: 12rem 2rem 2rem 2rem;
    }

.container1{
    --s:240px;  //Size of image
    --g:6px;    //Gap
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;

    &::before{
        position: absolute;
        content: "";
        top: 0;
        left:0;
        width: 20%;
        height: 100%;
        background-image: -moz-linear-gradient(to right, #201F1F,rgba(0, 0, 0, 0),);
        z-index: 2;
    }

    &::after{
        position: absolute;
        content: "";
        top: 0;
        right:0;
        width: 20%;
        height: 100%;
        background-image: -moz-linear-gradient(to left, #201F1F,rgba(0, 0, 0, 0),);
        z-index: 2;
    }

    .gallery:nth-child(2){
        padding-left: calc(var(--s)/2 + (var(--g)));
        
    }
    > *:not(:first-child){
        margin-top: calc(var(--s)/-3.3 );
    }
}

.gallery{
    display: flex;
    overflow: hidden;
}

.grid {
    animation: slide 30s linear infinite;
    white-space: nowrap;
    

    > img {
        width: var(--s);
        margin:var(--g);
        aspect-ratio: 0.866; /* Maintain hexagon shape */
        object-fit: cover;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
        cursor: pointer;
        filter: grayscale(20%);
        transition: 0.2s linear;
    }

    > img:hover{
        filter: grayscale(0);
        filter: brightness(1.2);
        z-index: 1;
    }

    section.viewer-open & {
        animation-play-state:paused;
      }
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor:default;
  
    .viewerContent {
        position: relative;
        max-width: 80vw;
        max-height: 80vh;
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    
  
      img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit:contain;
      }
    }

    .closeButton {
        position: absolute;
        top: 16px;
        right: 16px;
        background: rgba(0, 0, 0, 0.6);
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        z-index: 10000;
        padding: 0.3rem .7rem;
        border-radius: 4px;
        transition: background 0.2s;
    
        &:hover {
          background:  rgba(255, 69, 0, 0.8);
        }
      }

      .prevButton,
    .nextButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.6);
        border: none;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        z-index: 10000;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background 0.2s;

        &:hover {
        background: rgba(255, 69, 0, 0.8);
        }
    }

    .prevButton {
        left: 20px;
    }

    .nextButton {
        right: 20px;
    }
}
  


@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-51%);
    }
    }

@media screen and (max-width: 720px) {
    .container1{
        --s:120px;
        --g:4px;
    }
    }

@media screen and (min-width: 992px) {
    .viewer .viewerContent{
        max-width: 50vw; 
    }
    }

    @media screen and (min-width: 1200px) {
        .viewer .viewerContent{
            max-width: 35vw; 
        }
        }